In [1]:
#1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

import bs4
import requests                                    #importing required libraries
import pandas as pd
link = requests.get("https://en.wikipedia.org/wiki/Main_Page")    # page url 
type(link)

requests.models.Response

In [2]:
soup=bs4.BeautifulSoup(link.text)
type(soup)

bs4.BeautifulSoup

In [5]:
soup.select('.mw-headline')              #extracting data from the page

[<span class="mw-headline" id="From_today's_featured_article">From today's featured article</span>,
 <span class="mw-headline" id="Did_you_know_...">Did you know ...</span>,
 <span class="mw-headline" id="In_the_news">In the news</span>,
 <span class="mw-headline" id="On_this_day">On this day</span>,
 <span class="mw-headline" id="From_today's_featured_list">From today's featured list</span>,
 <span class="mw-headline" id="Today's_featured_picture">Today's featured picture</span>,
 <span class="mw-headline" id="Other_areas_of_Wikipedia">Other areas of Wikipedia</span>,
 <span class="mw-headline" id="Wikipedia's_sister_projects">Wikipedia's sister projects</span>,
 <span class="mw-headline" id="Wikipedia_languages">Wikipedia languages</span>]

In [6]:
for i in soup.select('.mw-headline'):     # converting data into simple Text
    print(i.text)

From today's featured article
Did you know ...
In the news
On this day
From today's featured list
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages

In [ ]:
#2.Write a python program to display IMDB’s Top rated 100 movies data(i.e.Name,IMDB rating,Year of release)and make data frame.

In [7]:
import pandas as pd
import requests                                  #importing required libraries
from bs4 import BeautifulSoup

In [8]:
url = "https://www.imdb.com/list/ls091520106/"       #page url
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [11]:
movie_name = []     #creating empty lists to store data
year = []
rating = []

In [12]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-detail'})

In [13]:
for store in movie_data:                       #using for loop to extract data
    name = store.h3.a.text
    movie_name.append(name)
    
    release_year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(release_year)
    
    rate = store.find('div', class_ = 'ipl-rating-star small').text.strip()
    rating.append(rate)

In [14]:
movie_DF = pd.DataFrame({'Name of the movie': movie_name, 'Movie rating': rating,'Year of release': year}) 
#converting extracted data into a dataframe

In [16]:
movie_DF.head(10)     #Top 10 movies

                               Name of the movie Movie rating Year of release
0                       The Shawshank Redemption          9.3            1994
1                                  The Godfather          9.2            1972
2                         The Godfather: Part II            9            1974
3                                The Dark Knight            9            2008
4                                   12 Angry Men            9            1957
5                               Schindler's List          8.9            1993
6  The Lord of the Rings: The Return of the King          8.9            2003
7                                   Pulp Fiction          8.9            1994
8                Il buono, il brutto, il cattivo          8.8            1966
9                                     Fight Club          8.8            1999

In [17]:
#3.Write a python program to display IMDB’s Top rated 100 Indian movies data(i.e.Name,Rating,Year of release)and make dataframe.

In [19]:
url = "https://www.imdb.com/list/ls009997493/"     #page url
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [20]:
movie_name = []             #creating empty lists to store data
year = []
rating = []

In [21]:
movie_data = soup.findAll('div', attrs= {'class': 'lister-item mode-detail'})        #extracting page data

In [22]:
for store in movie_data:                   # extracting required data from the page using for loop
    name = store.h3.a.text          
    movie_name.append(name)
    
    release_year = store.h3.find('span', class_ = 'lister-item-year text-muted unbold').text.replace('(','').replace(')','')
    year.append(release_year)
    
    rate = store.find('div', class_ = 'ipl-rating-star small').text.strip()
    rating.append(rate)

In [23]:
movie_DF = pd.DataFrame({'Name of the movie': movie_name, 'Year of release': year, 'Movie rating': rating})
#converting extracted data into a dataframe

In [24]:
movie_DF.head(100) #top 100 movies

         Name of the movie Year of release Movie rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.4
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.2
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.5
97     Shatranj Ke Khilari            1977          7.6
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]

In [25]:
#4. Write a python program to scrap book name, author name, genre and book review of any 5 books.

In [27]:
url = "https://bookpage.com/reviews"         #page url
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [28]:
title_name = []
author_name = []             #empty list
genre = []
book_review = []

In [29]:
book_data = soup.findAll('div', attrs= {'class': 'row-fluid article-row'})      #page data

In [30]:
for store in book_data:                 #extracting required data
     
    title = store.h4.a.text
    title_name.append(title)
    
    name = store.div.find('p', class_ = 'sans bold').text.strip()
    author_name.append(name)
    
    type = store.div.find('p', class_ = 'genre-links').text.strip()
    genre.append(type)
    
    review = store.div.find('p', class_ = 'excerpt').text.strip()
    book_review.append(review)

In [31]:
title

'Yoke'

In [32]:
name

'Jessamyn Stanley'

In [33]:
type

'Nonfiction\n / \nEssays\n / \nBody, Mind & Spirit'

In [34]:
review

'The 13 autobiographical essays in Yoke are brash, outspoken, funny, insightful, honest and occasionally spiced with dashes of self-deprecating melodrama.'

In [35]:
book_DF = pd.DataFrame({'Name of the book': title_name, 'Author name': author_name, 'Genre': genre, 'Review': book_review})

#coverting into dataframe

In [36]:
book_DF.head(5)   #5 book reviews

,Name of the book,Author name,Genre,Review
0,The Personal Librarian,"Marie Benedict, Victoria Christopher Murray",Fiction\n / \nHistorical Fiction,Co-authors Marie Benedict and Victoria Christo...
1,Lady Sunshine,Amy Mason Doan,Fiction\n / \nComing of Age,"Jumping between 1979 and 1999, Lady Sunshine u..."
2,Six Crimson Cranes,Elizabeth Lim,YA\n / \nYA Fiction,"In Six Crimson Cranes, YA fantasist Elizabeth ..."
3,★ Festival Days,"Jo Ann Beard, Suehyla El-Attar",Audio\n / \nNonfiction\n / \nEssays,"Actor Suehyla El-Attar reads in a calm, steady..."
4,Listen,"Gabi Snyder, Stephanie Graegin",Children's\n / \nChildren's Picture Book,"In the opening pages of Listen, a girl stands ..."

In [38]:
#5(1).Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [39]:
url = "https://www.icc-cricket.com/rankings/mens/team-rankings/odi"   #page url
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [40]:
team_name = []        #empty lists
matches = []
points = []
rating = []

In [41]:
name_of_team = soup.find_all("span",class_='u-hide-phablet')
name_of_team

[<span class="u-hide-phablet">New Zealand</span>,
 <span class="u-hide-phablet">Australia</span>,
 <span class="u-hide-phablet">India</span>,
 <span class="u-hide-phablet">England</span>,
 <span class="u-hide-phablet">South Africa</span>,
 <span class="u-hide-phablet">Pakistan</span>,
 <span class="u-hide-phablet">Bangladesh</span>,
 <span class="u-hide-phablet">West Indies</span>,
 <span class="u-hide-phablet">Sri Lanka</span>,
 <span class="u-hide-phablet">Afghanistan</span>,
 <span class="u-hide-phablet">Netherlands</span>,
 <span class="u-hide-phablet">Ireland</span>,
 <span class="u-hide-phablet">Zimbabwe</span>,
 <span class="u-hide-phablet">Scotland</span>,
 <span class="u-hide-phablet">Oman</span>,
 <span class="u-hide-phablet">Nepal</span>,
 <span class="u-hide-phablet">UAE</span>,
 <span class="u-hide-phablet">Namibia</span>,
 <span class="u-hide-phablet">United States</span>,
 <span class="u-hide-phablet">Papua New Guinea</span>,
 <span class="icn icn-facebook-circle u-hide-phablet"></span>,
 <span class="icn icn-twitter-circle u-hide-phablet"></span>,
 <span class="icn icn-instagram-circle u-hide-phablet"></span>,
 <span class="icn icn-youtube-circle u-hide-phablet"></span>,
 <span class="icn icn-tiktok-circle u-hide-phablet"></span>]

In [42]:
for i in name_of_team:
    team_name.append(i.text)
team_name

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan',
 'Netherlands',
 'Ireland',
 'Zimbabwe',
 'Scotland',
 'Oman',
 'Nepal',
 'UAE',
 'Namibia',
 'United States',
 'Papua New Guinea',
 '',
 '',
 '',
 '',
 '']

In [43]:
match1 = soup.find_all("td",class_='rankings-block__banner--matches')
match1

In [44]:
for i in match1:
    matches.append(i.text)
matches

['17']

In [45]:
matches2 = []

In [46]:
match = soup.find_all("td",class_='table-body__cell u-center-text')

In [47]:
for i in match:
    matches2.append(i.text)
matches2

['25',
 '2,945',
 '29',
 '3,344',
 '27',
 '3,100',
 '20',
 '2,137',
 '24',
 '2,323',
 '27',
 '2,438',
 '27',
 '2,222',
 '24',
 '1,876',
 '17',
 '1,054',
 '7',
 '336',
 '21',
 '897',
 '15',
 '588',
 '7',
 '258',
 '7',
 '240',
 '5',
 '119',
 '9',
 '190',
 '6',
 '97',
 '8',
 '93',
 '5',
 '0']

In [48]:
for i in range(0,len(matches2),2):     
    matches.append(matches2[i])
    points.append(matches2[i+1])

In [49]:
matches

['17',
 '25',
 '29',
 '27',
 '20',
 '24',
 '27',
 '27',
 '24',
 '17',
 '7',
 '21',
 '15',
 '7',
 '7',
 '5',
 '9',
 '6',
 '8',
 '5']

In [50]:
points

['2,945',
 '3,344',
 '3,100',
 '2,137',
 '2,323',
 '2,438',
 '2,222',
 '1,876',
 '1,054',
 '336',
 '897',
 '588',
 '258',
 '240',
 '119',
 '190',
 '97',
 '93',
 '0']

In [51]:
rate = soup.find_all("td",class_='table-body__cell u-text-right rating')

In [52]:
for i in rate:
    rating.append(i.text)
rating

['118',
 '115',
 '115',
 '107',
 '97',
 '90',
 '82',
 '78',
 '62',
 '48',
 '43',
 '39',
 '37',
 '34',
 '24',
 '21',
 '16',
 '12',
 '0']

In [53]:
print(len(team_name))   #checkinig the length of each list
print(len(matches))
print(len(points))
print(len(rate))

25
20
19
19

In [ ]:
DF = pd.DataFrame({'Team Name': team_name, 'Matches': matches,'Points': points, 'Rating': rate})

#due to variation in length couldn't covert the data into dataframe.
#i faced same issue in both 5&6th Question.

In [ ]:
#7.Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in.The
#  scraped data should include Product Name, Price, Image URL and Average Rating.

In [89]:
!pip install selenium   #installing selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.4)

In [90]:
import pandas as pd           
import selenium
from selenium import webdriver
from bs4 import BeautifulSoup
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [91]:
driver = webdriver.Chrome("chromedriver.exe")   #initiating chrome driver

In [92]:
url = "https://www.amazon.in/"
driver.get(url)

In [93]:
search_box = driver.find_element_by_id ("twotabsearchtextbox")    #sending search keywords to amazon seacrhbox
search_box.send_keys("mobile phone under 20,000")

In [94]:
search_button = driver.find_element_by_id("nav-search-submit-button")   # clicking seacrh button 
search_button.click()

In [95]:
product_name = []
price = []
image = []
rating = []

In [96]:
name = driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for i in name:
    product_name.append(i.text)    
product_name

['Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB Storage)',
 'Vivo Y51A (Titanium Sapphire, 8GB, 128GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Power (Mighty Black, 6GB RAM, 128GB Storage) - 6000mAh Battery |FHD+ Screen| 48MP Quad Camera | Snapdragon 662 Processor',
 'Panasonic Eluga i7 (2GB RAM, 16GB Storage, Finger Print Sensor, 4000mAh Battery) (Black)',
 'Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage)| 5000 mAh| 2.3GHz Mediatek Helio G35 Octa core Processor',
 'Samsung Galaxy M11 (Metallic Blue, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Samsung Galaxy M31s (Mirage Black, 6GB RAM, 128GB Storage)',
 'Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Storage) - Amoled Dot Display | 48MP Sony Sensor IMX582 | Snapdragon 678 Processor',
 'Redmi 9A (Nature Green, 2GB RAM, 32GB Storage) | 2GHz Octa-core Helio G25 Processor | 5000 mAh Battery',
 'Samsung Galaxy M42 5G (Prism Dot Black, 8GB RAM, 128GB Storage)',
 'Samsung Galaxy M11 (Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi Note 10S (Deep Sea Blue, 6GB RAM, 128GB Storage) - Super Amoled Display | 64 MP Quad Camera |NCEMI Offer on HDFC Cards',
 'Redmi 9 Power (Electric Green, 6GB RAM, 128GB Storage) - 6000mAh Battery|FHD+ Screen | 48MP Quad Camera | Snapdragon 662 Processor',
 'Samsung Galaxy M31 (Space Black, 8GB RAM, 128GB Storage)',
 'Samsung Galaxy M51 (Electric Blue, 6GB RAM, 128GB Storage)',
 'Redmi Note 10S (Shadow Black, 6GB RAM, 64GB Storage) - Super Amoled Display | 64 MP Quad Camera|NCEMI Offer on HDFC Cards']

In [97]:
cost = driver.find_elements_by_xpath("//span[@class='a-price-whole']")
for i in cost:
    price.append(i.text)    
price

['16,999',
 '17,990',
 '12,999',
 '5,298',
 '8,799',
 '9,499',
 '16,999',
 '14,999',
 '6,799',
 '23,999',
 '9,499',
 '15,999',
 '12,999',
 '16,999',
 '20,999',
 '14,999']

In [98]:
url = driver.find_elements_by_xpath("//img[@class='s-image']")
for i in url:
    image.append(i.get_attribute("src"))    
image[:10]

['https://m.media-amazon.com/images/I/71-Su4Wr0HL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71BRHXBME2L._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/61LHaUOhehL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/41QsvcpKaZL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71A9Vo1BatL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71GQUxuSpnS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71BFG8Zu7zL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71-BcSc9rhS._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71sxlhYhKWL._AC_UY218_.jpg',
 'https://m.media-amazon.com/images/I/71LweCKOpFL._AC_UY218_.jpg']

In [99]:
rate = driver.find_elements_by_xpath("//span[@class='a-icon-alt']")
for i in rate:
    rating.append(i.text)    
rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [ ]:
DF = pd.DataFrame({'Mobile name': product_name, 'Price': cost,'Image URL': image, 'Ratings': rating})

#due to variation in length couldn't frame a dataset.

In [101]:
url = "https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.YNHlmGgzY2w"   #page url
response = requests.get(url)
soup = BeautifulSoup(response.content,'lxml')

In [102]:
period = []
short_description = []
temperature = []
description = []

In [103]:
time = soup.find_all('p', class_ = 'period-name')
time

[<p class="period-name">Today<br/><br/></p>,
 <p class="period-name">Tonight<br/><br/></p>,
 <p class="period-name">Tuesday<br/><br/></p>,
 <p class="period-name">Tuesday<br/>Night</p>,
 <p class="period-name">Wednesday<br/><br/></p>,
 <p class="period-name">Wednesday<br/>Night</p>,
 <p class="period-name">Thursday<br/><br/></p>,
 <p class="period-name">Thursday<br/>Night</p>,
 <p class="period-name">Friday<br/><br/></p>]

In [104]:
for i in time:
    period.append(i.text)
period

['Today',
 'Tonight',
 'Tuesday',
 'TuesdayNight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday']

In [105]:
s_des = soup.find_all('p', class_ = 'short-desc')
s_des

[<p class="short-desc">Mostly Sunny<br/>then Sunny<br/>and Breezy</p>,
 <p class="short-desc">Mostly Clear<br/>and Breezy<br/>then Partly<br/>Cloudy</p>,
 <p class="short-desc">Sunny then<br/>Sunny and<br/>Breezy</p>,
 <p class="short-desc">Mostly Clear<br/>and Breezy<br/>then Mostly<br/>Cloudy</p>,
 <p class="short-desc">Partly Sunny<br/>then Mostly<br/>Sunny and<br/>Breezy</p>,
 <p class="short-desc">Partly Cloudy<br/>and Breezy<br/>then Mostly<br/>Cloudy</p>,
 <p class="short-desc">Mostly Sunny</p>,
 <p class="short-desc">Mostly Cloudy</p>,
 <p class="short-desc">Mostly Sunny</p>]

In [106]:
for i in s_des:
    short_description.append(i.text)
short_description

['Mostly Sunnythen Sunnyand Breezy',
 'Mostly Clearand Breezythen PartlyCloudy',
 'Sunny thenSunny andBreezy',
 'Mostly Clearand Breezythen MostlyCloudy',
 'Partly Sunnythen MostlySunny andBreezy',
 'Partly Cloudyand Breezythen MostlyCloudy',
 'Mostly Sunny',
 'Mostly Cloudy',
 'Mostly Sunny']

In [107]:
temp1 = soup.find_all('p', class_ = 'temp temp-low')
temp1

[<p class="temp temp-low">Low: 58 °F</p>,
 <p class="temp temp-low">Low: 58 °F</p>,
 <p class="temp temp-low">Low: 58 °F</p>,
 <p class="temp temp-low">Low: 58 °F</p>]

In [108]:
for i in temp1:
    temperature.append(i.text)
temperature

['Low: 58 °F', 'Low: 58 °F', 'Low: 58 °F', 'Low: 58 °F']

In [109]:
temp2 = soup.find_all('p', class_ = 'temp temp-high')
temp2

[<p class="temp temp-high">High: 70 °F</p>,
 <p class="temp temp-high">High: 73 °F</p>,
 <p class="temp temp-high">High: 69 °F</p>,
 <p class="temp temp-high">High: 69 °F</p>,
 <p class="temp temp-high">High: 70 °F</p>]

In [110]:
for i in temp2:
    temperature.append(i.text)
temperature

['Low: 58 °F',
 'Low: 58 °F',
 'Low: 58 °F',
 'Low: 58 °F',
 'High: 70 °F',
 'High: 73 °F',
 'High: 69 °F',
 'High: 69 °F',
 'High: 70 °F']

In [111]:
des = soup.find_all('div', class_ = 'col-sm-10 forecast-text')
des

[<div class="col-sm-10 forecast-text">Mostly cloudy early, then gradual clearing, with a high near 70. Breezy, with a west wind 18 to 28 mph, with gusts as high as 37 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly clear, with a low around 58. Breezy, with a west wind 21 to 26 mph decreasing to 14 to 19 mph after midnight. Winds could gust as high as 34 mph. </div>,
 <div class="col-sm-10 forecast-text">Sunny, with a high near 73. Breezy, with a west wind 5 to 10 mph increasing to 18 to 23 mph in the afternoon. Winds could gust as high as 30 mph. </div>,
 <div class="col-sm-10 forecast-text">Increasing clouds, with a low around 58. Breezy, with a west wind 13 to 23 mph, with gusts as high as 30 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 69. Breezy, with a southwest wind 10 to 15 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 32 mph. </div>,
 <div class="col-sm-10 forecast-text">Mostly cloudy, with a low around 58. Breezy. </div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 69.</div>,
 <div class="col-sm-10 forecast-text">Mostly cloudy, with a low around 58.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 70.</div>,
 <div class="col-sm-10 forecast-text">Mostly cloudy, with a low around 58.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 69.</div>,
 <div class="col-sm-10 forecast-text">Mostly cloudy, with a low around 58.</div>,
 <div class="col-sm-10 forecast-text">Mostly sunny, with a high near 70.</div>]

In [112]:
for i in des:
    description.append(i.text)# unable to reduce the number of extracted data to 9, to meet the same number of length as others
description[0:8]

['Mostly cloudy early, then gradual clearing, with a high near 70. Breezy, with a west wind 18 to 28 mph, with gusts as high as 37 mph. ',
 'Mostly clear, with a low around 58. Breezy, with a west wind 21 to 26 mph decreasing to 14 to 19 mph after midnight. Winds could gust as high as 34 mph. ',
 'Sunny, with a high near 73. Breezy, with a west wind 5 to 10 mph increasing to 18 to 23 mph in the afternoon. Winds could gust as high as 30 mph. ',
 'Increasing clouds, with a low around 58. Breezy, with a west wind 13 to 23 mph, with gusts as high as 30 mph. ',
 'Mostly sunny, with a high near 69. Breezy, with a southwest wind 10 to 15 mph increasing to 19 to 24 mph in the afternoon. Winds could gust as high as 32 mph. ',
 'Mostly cloudy, with a low around 58. Breezy. ',
 'Mostly sunny, with a high near 69.',
 'Mostly cloudy, with a low around 58.']

In [113]:
DF = pd.DataFrame({'Day': period, 'Temperature': temperature, 'Short_description': s_des}) # didnt add description to dataset.

In [114]:
DF

,Day,Temperature,Short_description
0,Today,Low: 58 °F,"[Mostly Sunny, [], then Sunny, [], and Breezy]"
1,Tonight,Low: 58 °F,"[Mostly Clear, [], and Breezy, [], then Partly..."
2,Tuesday,Low: 58 °F,"[Sunny then, [], Sunny and, [], Breezy]"
3,TuesdayNight,Low: 58 °F,"[Mostly Clear, [], and Breezy, [], then Mostly..."
4,Wednesday,High: 70 °F,"[Partly Sunny, [], then Mostly, [], Sunny and,..."
5,WednesdayNight,High: 73 °F,"[Partly Cloudy, [], and Breezy, [], then Mostl..."
6,Thursday,High: 69 °F,[Mostly Sunny]
7,ThursdayNight,High: 69 °F,[Mostly Cloudy]
8,Friday,High: 70 °F,[Mostly Sunny]

In [115]:
#9.Write a python program to scrape fresher job listings from internshala.which includes jobtitle,company name,CTC,& apply date.

In [116]:
url = "https://internshala.com/fresher-jobs"      
response = requests.get(url)

In [117]:
soup = BeautifulSoup(response.content,'html.parser')

In [118]:
job = []
name = []
salary = []
date = []

In [119]:
title = soup.find_all('div', class_= "heading_4_5 profile")

In [120]:
for i in title:
    job.append(i.text)
job

['\nOperations Executive ',
 '\nAssociate Full Stack Developer ',
 '\nBusiness Development Associate ',
 '\nJunior Social Media Marketing Manager ',
 '\nMobile App Developer ',
 '\nMarketing Manager ',
 '\nSoftware Development Engineer (Web) ',
 '\nAssociate Creative Designer ',
 '\nAssociate Content Writer ',
 '\nHuman Resources (HR) Executive ',
 '\nSoftware Engineer ',
 '\nSalesforce Developer ',
 '\nFull Stack Developer ',
 '\nBusiness Development Specialist ',
 '\nAssociate Software Developer ',
 '\nAssociate UI/UX Designer ',
 '\nBusiness Development Associate (Sales) ',
 '\nReceptionist And Billing Manager ',
 '\nNode.js Backend Developer (AWS/GCP/API) ',
 '\nBusiness Development Executive ',
 '\nSoftware Developer ',
 '\nManagement Trainee - Assistant Category Manager ',
 '\nAccount Executive - Field Sales ',
 '\nSoftware Engineer ',
 '\nAssociate Software Developer ',
 '\nSocial Media Strategist And Copywriter ',
 '\nLevel 1 Technical Support Engineer ',
 '\nAssociate Software Developer ',
 '\nAccounting Assistant ',
 '\nSoftware Engineer ',
 '\nBusiness Development Manager ',
 '\nBusiness Development Executive ',
 '\nProduct Developer - Mathematics ',
 '\nSales Development Representative ',
 '\nFull Stack Engineer ',
 '\nJunior ReactJS Developer ',
 '\nMarketing Manager ',
 '\nProduct Marketing Associate ',
 '\nAdministration Associate ',
 '\nAssociate Software Developer ']

In [121]:
company = soup.find_all('div', class_= "heading_6 company_name")
company

[<div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Weave%20Communications%20%26%20Events%20Private%20Limited">
                         Weave Communications &amp; Events Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-REPOZITORY%20TECHNOLOGIES%20PRIVATE%20LIMITED">
                         REPOZITORY TECHNOLOGIES PRIVATE LIMITED                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Padhhigh">
                         Padhhigh                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Muskurahat%20Foundation">
                         Muskurahat Foundation                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Ruhi">
                         Ruhi                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-DeepThought%20Edutech%20Ventures%20Private%20Limited">
                         DeepThought Edutech Ventures Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Internshala">
                         Internshala                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Muskurahat%20Foundation">
                         Muskurahat Foundation                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Muskurahat%20Foundation">
                         Muskurahat Foundation                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Muskurahat%20Foundation">
                         Muskurahat Foundation                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Vaultedge%20Software%20Private%20Limited">
                         Vaultedge Software Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Softsensor.ai">
                         Softsensor.ai                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-ProtonAutoML">
                         ProtonAutoML                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-ProtonAutoML">
                         ProtonAutoML                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-RoaDo">
                         RoaDo                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-RavGins%20International%20Private%20Limited%20%28Wobb.ai%29">
                         RavGins International Private Limited (Wobb.ai)                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Global%20Sun">
                         Global Sun                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Touchstone%20Partners">
                         Touchstone Partners                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Labellerr%20By%20Tensor%20Matics%20Private%20Limited">
                         Labellerr By Tensor Matics Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-UFaber%20Edutech">
                         UFaber Edutech                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Aptigenz%20Solutions%20Private%20Limited">
                         Aptigenz Solutions Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Noise">
                         Noise                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-RoaDo">
                         RoaDo                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-CrewKarma">
                         CrewKarma                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-IQGateway">
                         IQGateway                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Internshala">
                         Internshala                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Mithi%20Software%20Technologies%20Private%20Limited">
                         Mithi Software Technologies Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-White%20Blink">
                         White Blink                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Wono%20Inc">
                         Wono Inc                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Wono%20Inc">
                         Wono Inc                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Wono%20Inc">
                         Wono Inc                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Emertxe%20Information%20Technologies">
                         Emertxe Information Technologies                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Open%20Door%20Education">
                         Open Door Education                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Content%20Beta">
                         Content Beta                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Softway%20Solutions%20Private%20Limited">
                         Softway Solutions Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-DeepThought%20Edutech%20Ventures%20Private%20Limited">
                         DeepThought Edutech Ventures Private Limited                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Saltoro%20Coffee%20Roasters">
                         Saltoro Coffee Roasters                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-WebMOBI">
                         WebMOBI                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Global%20Sun">
                         Global Sun                    </a>
 </div>,
 <div class="heading_6 company_name">
 <a class="link_display_like_text" href="/fresher-jobs/fresher-job-at-Medico%20Healthcare%20Services%20%26%20Technologies">
                         Medico Healthcare Services &amp; Technologies                    </a>
 </div>]

In [122]:
for i in company:
    name.append(i.text)
name

['\n\n                        Weave Communications & Events Private Limited                    \n',
 '\n\n                        REPOZITORY TECHNOLOGIES PRIVATE LIMITED                    \n',
 '\n\n                        Padhhigh                    \n',
 '\n\n                        Muskurahat Foundation                    \n',
 '\n\n                        Ruhi                    \n',
 '\n\n                        DeepThought Edutech Ventures Private Limited                    \n',
 '\n\n                        Internshala                    \n',
 '\n\n                        Muskurahat Foundation                    \n',
 '\n\n                        Muskurahat Foundation                    \n',
 '\n\n                        Muskurahat Foundation                    \n',
 '\n\n                        Vaultedge Software Private Limited                    \n',
 '\n\n                        Softsensor.ai                    \n',
 '\n\n                        ProtonAutoML                    \n',
 '\n\n                        ProtonAutoML                    \n',
 '\n\n                        RoaDo                    \n',
 '\n\n                        RavGins International Private Limited (Wobb.ai)                    \n',
 '\n\n                        Global Sun                    \n',
 '\n\n                        Touchstone Partners                    \n',
 '\n\n                        Labellerr By Tensor Matics Private Limited                    \n',
 '\n\n                        UFaber Edutech                    \n',
 '\n\n                        Aptigenz Solutions Private Limited                    \n',
 '\n\n                        Noise                    \n',
 '\n\n                        RoaDo                    \n',
 '\n\n                        CrewKarma                    \n',
 '\n\n                        IQGateway                    \n',
 '\n\n                        Internshala                    \n',
 '\n\n                        Mithi Software Technologies Private Limited                    \n',
 '\n\n                        White Blink                    \n',
 '\n\n                        Wono Inc                    \n',
 '\n\n                        Wono Inc                    \n',
 '\n\n                        Wono Inc                    \n',
 '\n\n                        Emertxe Information Technologies                    \n',
 '\n\n                        Open Door Education                    \n',
 '\n\n                        Content Beta                    \n',
 '\n\n                        Softway Solutions Private Limited                    \n',
 '\n\n                        DeepThought Edutech Ventures Private Limited                    \n',
 '\n\n                        Saltoro Coffee Roasters                    \n',
 '\n\n                        WebMOBI                    \n',
 '\n\n                        Global Sun                    \n',
 '\n\n                        Medico Healthcare Services & Technologies                    \n']

In [ ]:
##### DUE to the variation n lenght didnt frame a dataset.

In [ ]:
#10.Write a python program to scrape house details from given url. It should include house title, location, area, emi and price.

In [123]:
url = "https://www.nobroker.in/property/sale/bangalore/Bengaluru?searchParam=W3sibGF0IjoxMi45NzE1OTg3LCJsb24iOjc3LjU5NDU2MjcsInBsYWNlSWQiOiJDaElKYlU2MHlYQVdyanNSNEU5LVVlakQzX2ciLCJwbGFjZU5hbWUiOiJCZW5nYWx1cnUiLCJzaG93TWFwIjpmYWxzZX1d"
response = requests.get(url)

In [124]:
soup = BeautifulSoup(response.content,'html.parser')

In [125]:
house_name = []
location = []
area = []
emi = []
price = []

In [126]:
name = soup.find_all('a', class_= "nb__3CnI6")

In [127]:
for i in name:
    house_name.append(i.text)
house_name

['2 BHK Flat  For Sale  In Apartment  In Padmanabhanagar ',
 '3 BHK Flat  For Sale  In Jnanabharathi Layout ',
 '3 BHK Flat  For Sale  In Snn Raj Serenity , Yelenahalli In Yelenahalli ',
 '2 BHK Apartment  For Sale  In Cr Silver Woods Apartment In Kasturi Nagar ',
 '2 BHK Apartment  For Sale  In Prabhavathi Heaven Apartment In Btm 4th Stage , Bommanahalli ',
 '2 BHK Apartment  For Sale  In Unicca Emporis In Varthur ',
 '3 BHK Apartment  For Sale  In Sraddha Fairmount In Hsr Layout ',
 '2 BHK Apartment  For Sale  In Sriya Residency In Varadarajulayout ',
 '2 BHK Apartment  For Sale  In Soorya Symphony In Horamavu ',
 '2 BHK Apartment  For Sale  In Sai Shakti Enclave In Rr Nagar ']

In [128]:
place = soup.find_all('div', class_= "nb__35Ol7")

In [129]:
for i in place:
    location.append(i.text)
location

['Banashankari Stage II, Near Carmel SchoolExplore Nearby',
 'Standalone Building, 280 no sri lakshmi Ranganath krupa,Explore Nearby',
 'Bannerghatta Road, near EuroKids Pre-SchoolExplore Nearby',
 'Cr Silver Woods Apartment\xa0 B Channasandra Rd, B Channasandra, Kasturi Nagar, Bengaluru, Karnataka 560043, IndiaExplore Nearby',
 'Prabhavathi Heaven Apartment\xa0 3rd Cross, 1st Main, BTM 4th Stage, Near Bus Stop, SBI Colony, Devarachiknahalli, Bommanahalli, Bengaluru, Karnataka 560076, IndiaExplore Nearby',
 'Unicca Emporis\xa0 Madhura Nagar, Varthur, Bengaluru, Karnataka 560087, IndiaExplore Nearby',
 'Sraddha Fairmount\xa0 Sraddha Fairmount, PWD Quarters, 1st Sector, HSR Layout, Bengaluru, Karnataka 560068, IndiaExplore Nearby',
 'Sriya Residency\xa0 Varadarajulayout, 8B cross,Amruthahalli,Benguluru-, 560092, IndiaExplore Nearby',
 'Soorya Symphony\xa0 Soorya Symphony, 1/5B, Horamavu, Bengaluru, Karnataka 560043, IndiaExplore Nearby',
 'Sai Shakti Enclave\xa0 Halagevaderahalli road, RR Nagar, Bengaluru, Karnataka 560098, IndiaExplore Nearby']

In [130]:
space = soup.find_all('div', class_= "nb__3oNyC")
space

[<div class="nb__3oNyC">1,150 sqft</div>,
 <div class="nb__3oNyC">1,800 sqft</div>,
 <div class="nb__3oNyC">1,185 sqft</div>,
 <div class="nb__3oNyC">1,199 sqft</div>,
 <div class="nb__3oNyC">1,018 sqft</div>,
 <div class="nb__3oNyC">1,402 sqft</div>,
 <div class="nb__3oNyC">1,600 sqft</div>,
 <div class="nb__3oNyC">1,025 sqft</div>,
 <div class="nb__3oNyC">1,080 sqft</div>,
 <div class="nb__3oNyC">1,090 sqft</div>]

In [131]:
for i in space:
    area.append(i.text)
area

['1,150 sqft',
 '1,800 sqft',
 '1,185 sqft',
 '1,199 sqft',
 '1,018 sqft',
 '1,402 sqft',
 '1,600 sqft',
 '1,025 sqft',
 '1,080 sqft',
 '1,090 sqft']

In [132]:
data = []

In [133]:
data = soup.find_all('div', class_= "nb__17R6o")

In [134]:
installment =[]

In [135]:
for i in data:
    installment.append(i.text)
installment

['Title not verifiedNot under loan₹ 1,150 sqftBuiltup₹48,717/MonthEstimated EMI₹85 Lacs₹7,391 per sq.ft.',
 'Title not verifiedUnder Loan₹ 1,800 sqftBuiltup₹52,729/MonthEstimated EMI₹92 Lacs₹5,111 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,185 sqftBuiltup₹43,559/MonthEstimated EMI₹76 Lacs₹6,414 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,199 sqftBuiltup₹4,585/MonthEstimated EMI₹8 Lacs₹667 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,018 sqftBuiltup₹25,218/MonthEstimated EMI₹44 Lacs₹4,322 per sq.ft.',
 'Title not verifiedUnder Loan₹ 1,402 sqftBuiltup₹65,911/MonthEstimated EMI₹1.15 Crores₹8,203 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,600 sqftBuiltup₹57,314/MonthEstimated EMI₹1 Crore₹6,250 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,025 sqftBuiltup₹31,522/MonthEstimated EMI₹55 Lacs₹5,366 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,080 sqftBuiltup₹23,498/MonthEstimated EMI₹41 Lacs₹3,796 per sq.ft.',
 'Title not verifiedNot under loan₹ 1,090 sqftBuiltup₹35,534/MonthEstimated EMI₹62 Lacs₹5,688 per sq.ft.']

In [138]:
for i in range(0,len(installment),5):    # couldn't extract the emi and price even after the suggested steps by you.
    emi.append(installment[i])
    price.append(installment[i+3])

In [139]:
DF = pd.DataFrame({'House Title': house_name, 'Location': location,'Area': area,})
# excluded the price and emi to form a dataset

In [140]:
DF

,House Title,Location,Area
0,2 BHK Flat For Sale In Apartment In Padmana...,"Banashankari Stage II, Near Carmel SchoolExplo...","1,150 sqft"
1,3 BHK Flat For Sale In Jnanabharathi Layout,"Standalone Building, 280 no sri lakshmi Rangan...","1,800 sqft"
2,"3 BHK Flat For Sale In Snn Raj Serenity , Ye...","Bannerghatta Road, near EuroKids Pre-SchoolExp...","1,185 sqft"
3,2 BHK Apartment For Sale In Cr Silver Woods ...,"Cr Silver Woods Apartment B Channasandra Rd, ...","1,199 sqft"
4,2 BHK Apartment For Sale In Prabhavathi Heav...,"Prabhavathi Heaven Apartment 3rd Cross, 1st M...","1,018 sqft"
5,2 BHK Apartment For Sale In Unicca Emporis I...,"Unicca Emporis Madhura Nagar, Varthur, Bengal...","1,402 sqft"
6,3 BHK Apartment For Sale In Sraddha Fairmoun...,"Sraddha Fairmount Sraddha Fairmount, PWD Quar...","1,600 sqft"
7,2 BHK Apartment For Sale In Sriya Residency ...,"Sriya Residency Varadarajulayout, 8B cross,Am...","1,025 sqft"
8,2 BHK Apartment For Sale In Soorya Symphony ...,"Soorya Symphony Soorya Symphony, 1/5B, Horama...","1,080 sqft"
9,2 BHK Apartment For Sale In Sai Shakti Encla...,"Sai Shakti Enclave Halagevaderahalli road, RR...","1,090 sqft"

In [ ]:
#Thank you
# i have tried to add comments for the better understandings of the steps.
# i have not added the other parts of question 5 and whole 6th question as i faced similar issue in the sub-questions as i faced in 5th question